<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="#" class="navbar-brand text-warning">&nbsp;&nbsp;
    <i class="fa fa-globe" ></i>  LUXURY STAYS</a>
    <button class="navbar-toggler " data-toggle="collapse" data-target="#menu"> 
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/admin" routerLinkActive="active" class="nav-link">
          <i class="fas fa-hotel"></i> HOTELS</a>
      </li>
      <!--<li class="nav-item">
        <a href="" class="nav-link">
          <i class="fas fa-list-ul"></i> EMPLOYEES</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin" routerLinkActive="active" class="nav-link">
        <i class="fas fa-users"></i> CUSTOMERS</a>
      </li>
      <li class="nav-item">
        <a routerLink="/reports" routerLinkActive="active" class="nav-link">
          <i class="fas fa-chart-bar"></i> REPORTS</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
       <!--<li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Settings</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="dropdown-item fa fa-user"> Profile</button>
            <button ngbDropdownItem class="dropdown-item fa fa-comments"> Contact us</button>
          </div>
        </div>
      </li>-->
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">
          <i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class=" py-3 text-white" style="background-color: teal">
  <h1>&nbsp;&nbsp;<i class="fas fa-chart-bar"></i> Admin Dashboard</h1>
</div>

<div class="container pt-3">
<h2 style="background-color: purple; text-align: center;" class="text-white p-2 rounded"><i class="fas fa-hotel"></i> &nbsp;Guests of {{this.hotel.hotelName}}</h2>
</div>
<br><br>
    <div class="container">
    <!-- creating table -->
    <table class="table table-bordered">
      <thead class="table-dark thead-dark">
        <tr class="table table-dark">
            <th>Booking Id</th>
            <th>Room No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Address</th>
            <th>City</th>
            <th>Pincode</th>
            <th>State</th>
        </tr>
      </thead>
      <tbody>
        <!--Bhai yha pe sirf ye 3 details baaki details button pe click krke-->
        <!--<h2 style="font: size 300%; text-align: center;">{{hotel.hotelName}}</h2><br>
            <h4 style="text-align: right;">Hotel Description: {{hotel.description}}</h4><br>
            <h5 style="text-align: right;">Hotel Rating: {{hotel.rating}}</h5><br>
            <h5>{{hotel.city}}</h5>
            <h5>{{hotel.pincode}}</h5>
            <h5 style="text-align: right;">Contact Details: {{hotel.contact}}</h5><br>
            <h5 style="text-align: right;">Email Here: {{hotel.email}}</h5><br>-->


            <tr *ngFor="let booking of bookings | async">
              <ng-container *ngIf="booking.hotelId == hotel.hotelId">
              <td>{{booking.bookingId}}</td>
              <ng-container *ngFor="let room of rooms | async ">
                  <td *ngIf="booking.roomId == room.id">
                      {{room.roomNo}}
                  </td>
              </ng-container>
              <ng-container *ngFor="let user of users | async">
                  <td *ngIf="booking.userId == user.user.id">
                      {{user.fname}}
                  </td>
              </ng-container>
              <ng-container *ngFor="let user of users | async">
                  <td *ngIf="booking.userId == user.user.id">
                      {{user.lname}}
                  </td>
              </ng-container>
              <ng-container *ngFor="let user of users | async">
                  <td *ngIf="booking.userId == user.user.id">
                      {{user.email}}
                  </td>
              </ng-container>
              <ng-container *ngFor="let user of users | async">
                  <td *ngIf="booking.userId == user.user.id">
                      {{user.number}}
                  </td>
              </ng-container>
              <ng-container *ngFor="let user of users | async">
                  <td *ngIf="booking.userId == user.user.id">
                      {{user.addr.address}}
                  </td>
              </ng-container>
              <ng-container *ngFor="let user of users | async">
                  <td *ngIf="booking.userId == user.user.id">
                      {{user.addr.city}}
                  </td>
              </ng-container>
              <ng-container *ngFor="let user of users | async">
                  <td *ngIf="booking.userId == user.user.id">
                      {{user.addr.zipcode}}
                  </td>
              </ng-container>
              <ng-container *ngFor="let user of users | async">
                  <td *ngIf="booking.userId == user.user.id">
                      {{user.addr.state}}
                  </td>
              </ng-container>
          </ng-container>
          </tr>
      </tbody>
    </table>
  </div>
