<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="#" class="navbar-brand text-warning">&nbsp;&nbsp;
    <i class="fa fa-globe" ></i>  LUXURY STAYS</a>
    <button class="navbar-toggler " data-toggle="collapse" data-target="#menu"> 
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container pt-3">
  <h2 style="background-color: cornflowerblue; text-align: center;" class="text-white p-2 rounded"><i class="fas fa-user-alt"></i> &nbsp;User Registration</h2>
  </div>
  <br><br>
<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onRegister()" >
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>First Name</label>
          <input type="text" name="fname" class="form-control" [(ngModel)]="registerUser.fname" #fname="ngModel"
            [ngClass]="{ 'is-invalid': userForm.submitted && fname.invalid }" required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && fname.invalid">
              <p *ngIf="fname.errors.required">Name is required</p>
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <label>Last Name</label>
          <input type="text" name="lname" class="form-control" [(ngModel)]="registerUser.lname" #lname="ngModel"
            [ngClass]="{ 'is-invalid': userForm.submitted && lname.invalid }" required>
              <div class="invalid-feedback" *ngIf="userForm.submitted && lname.invalid">
                <p *ngIf="lname.errors.required">Name is required</p>
              </div>
          </div>
      </div>
    
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="registerUser.email" #email="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" required>
        <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Must be a valid email address</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Contact Number</label>
        <input type="number" class="form-control" name="contact" [(ngModel)]="registerUser.number" #contact="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && contact.invalid }" required>
        <div *ngIf="userForm.submitted && contact.invalid" class="invalid-feedback">
        </div>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label>Address</label>
        <input type="text" class="form-control" name="address" [(ngModel)]="registerUser.addr.address" #address="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && address.invalid }" required>
        <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="address.errors.required">Address is required</div>
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label>City</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="registerUser.addr.city" #city="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && city.invalid }" required>
        <div *ngIf="userForm.submitted && city.invalid" class="invalid-feedback">
          <div *ngIf="city.errors.required">City is required</div>
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label>State</label>
        <input type="text" class="form-control" name="state" [(ngModel)]="registerUser.addr.state" #state="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && state.invalid }" required>
        <div *ngIf="userForm.submitted && state.invalid" class="invalid-feedback">
          <div *ngIf="state.errors.required">State is required</div>
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label>Zipcode</label>
        <input type="number" class="form-control" name="zipcode" [(ngModel)]="registerUser.addr.zipcode" #zipcode="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && zipcode.invalid }" pattern="[0-9]{6}"  required>
       <div *ngIf="userForm.submitted && zipcode.invalid" class="invalid-feedback">
          <div *ngIf="zipcode.errors.required">Zipcode is required</div>
          <div *ngIf="zipcode.errors.pattern">Must be of 6 characters</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="registerUser.user.username" #username="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && username.invalid }" minlength="4" required>
        <div *ngIf="userForm.submitted && username.invalid" class="invalid-feedback">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">Username should be at least 4 characters long</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="registerUser.user.password" #password="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid }" minlength="8" required>
       <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password should be at least 8 characters long</div>
        </div>
      </div>
    </div>
  
    <!--<div class="form-group">
      <label>Hobbies</label>
      <select class="form-control" name="hobbies" [(ngModel)]="Hobbies">
        <option value="">Select an option</option>
        <option *ngFor="let hoby of Hobbies" [value]="hoby">
          {{hoby}}
        </option>
      </select>
    </div>-->
  
    <div class="form-row col-md-2">
        <button type="submit" class="btn btn-danger btn-block">Submit</button>
    </div>
  </form>

  <hr>
  <br><br><br>




