
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="#" class="navbar-brand text-warning">&nbsp;&nbsp;
    <i class="fa fa-globe" ></i>  LUXURY STAYS</a>
    <button class="navbar-toggler " data-toggle="collapse" data-target="#menu"> 
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav">
      <!--<li class="nav-item">
        <a class="nav-link">
          <i class="fas fa-hotel"></i> HOTELS</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="fas fa-list-ul"></i> EMPLOYEES</a>
      </li>-->
      <li class="nav-item">
        <button class="btn btn-dark font-weight-bold rounded nav-link" (click)="homePage()">
        <i class="fas fa-home"></i> Home</button>
      </li>
      &nbsp;&nbsp;
      <li>
        <button class="btn btn-dark font-weight-bold rounded nav-link" (click)=history()>
             <i class="fas fa-history"></i> My History</button>
         </li>
    </ul>
   
    <ul class="navbar-nav ml-auto">
      
      <!-- <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Settings</button>&nbsp;&nbsp;&nbsp;
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="dropdown-item fa fa-user" (click)="updateProfile()">Update Profile</button>
          </div>
        </div>
      </li>-->
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">
          <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp; Logged in as {{this.thisCustomer.user.username}}</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Logout</a>
      </li>
    </ul>
  </div>
</nav>
<h2>Update Profile</h2><br><br>
<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onRegister()" >
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>First Name</label>
          <input type="text" name="fname" class="form-control" [(ngModel)]="thisCustomer.fname" #fname="ngModel"
            [ngClass]="{ 'is-invalid': userForm.submitted && fname.invalid }" required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && fname.invalid">
              <p *ngIf="fname.errors.required">Name is required</p>
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <label>Last Name</label>
          <input type="text" name="lname" class="form-control" [(ngModel)]="thisCustomer.lname" #lname="ngModel"
            [ngClass]="{ 'is-invalid': userForm.submitted && lname.invalid }" required>
              <div class="invalid-feedback" *ngIf="userForm.submitted && lname.invalid">
                <p *ngIf="lname.errors.required">Name is required</p>
              </div>
          </div>
      </div>
    
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="thisCustomer.email" #email="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" required>
        <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Must be a valid email address</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Contact Number</label>
        <input type="text" class="form-control" name="contact" [(ngModel)]="thisCustomer.number" #contact="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && contact.invalid }" required>
        <div *ngIf="userForm.submitted && contact.invalid" class="invalid-feedback">
          <div *ngIf="contact.errors.required">Mobile Number is required.</div>
        </div>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label>Address</label>
        <input type="text" class="form-control" name="address" [(ngModel)]="thisCustomer.addr.address" #address="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && address.invalid }" required>
        <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="address.errors.required">Address is required</div>
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label>City</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="thisCustomer.addr.city" #city="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && city.invalid }" required>
        <div *ngIf="userForm.submitted && city.invalid" class="invalid-feedback">
          <div *ngIf="city.errors.required">City is required</div>
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label>State</label>
        <input type="text" class="form-control" name="state" [(ngModel)]="thisCustomer.addr.state" #state="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && state.invalid }" required>
        <div *ngIf="userForm.submitted && state.invalid" class="invalid-feedback">
          <div *ngIf="state.errors.required">State is required</div>
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label>Zipcode</label>
        <input type="number" class="form-control" name="zipcode" [(ngModel)]="thisCustomer.addr.zipcode" #zipcode="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && zipcode.invalid }" pattern="[0-9]{6}"  required>
       <div *ngIf="userForm.submitted && zipcode.invalid" class="invalid-feedback">
          <div *ngIf="zipcode.errors.required">Zipcode is required</div>
          <div *ngIf="zipcode.errors.pattern">Must be of 6 characters</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="thisCustomer.user.username" #username="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && username.invalid }" minlength="4" required>
        <div *ngIf="userForm.submitted && username.invalid" class="invalid-feedback">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">Username should be at least 4 characters long</div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="thisCustomer.user.password" #password="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid }" minlength="8" required>
       <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password should be at least 8 characters long</div>
        </div>
      </div>
    </div>
  
    <!--<div class="form-group">
      <label>Hobbies</label>
      <select class="form-control" name="hobbies" [(ngModel)]="Hobbies">
        <option value="">Select an option</option>
        <option *ngFor="let hoby of Hobbies" [value]="hoby">
          {{hoby}}
        </option>
      </select>
    </div>-->
  
    <div class="form-row col-md-2">
        <button type="submit" class="btn btn-danger btn-block">Submit</button>
    </div>
  </form>

  <hr>
  <br><br><br>




