<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#" class="navbar-brand text-warning">&nbsp;&nbsp;
      <i class="fa fa-globe" ></i>  LUXURY STAYS</a>
      <button class="navbar-toggler " data-toggle="collapse" data-target="#menu"> 
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav">
        <!--<li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-hotel"></i> HOTELS</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="fas fa-list-ul"></i> EMPLOYEES</a>
        </li>-->
        <li class="nav-item">
          <button class="btn btn-dark font-weight-bold rounded nav-link" (click)="homePage()">
          <i class="fas fa-home"></i> Home</button>
        </li>
        &nbsp;&nbsp;
        <li>
          <button class="btn btn-dark font-weight-bold rounded nav-link" (click)=history()>
               <i class="fas fa-history"></i> My History</button>
           </li>
      </ul>
     
      <ul class="navbar-nav ml-auto">
        
        <!-- <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Settings</button>&nbsp;&nbsp;&nbsp;
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem class="dropdown-item fa fa-user" (click)="updateProfile()">Update Profile</button>
            </div>
          </div>
        </li>-->
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">
            <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp; Logged in as {{this.parser.user.user.username}}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">
            <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  
        <router-outlet></router-outlet>
    <div class="container pt-3">
        <form>
        <div class="jumbotron">
            <h1 style="font-size: 400%; text-align: center;">{{hotel.hotelName}}</h1><br>
            <h4 style="text-align: right;">Hotel Description: {{hotel.description}}</h4><br>
            <h5 style="text-align: right;">Hotel Rating: {{hotel.rating}}</h5><br>
            <h5 style="text-align: right;">City: {{hotel.city}}</h5>
            <h5 style="text-align: right;">Zip Code: {{hotel.pincode}}</h5>
            <h5 style="text-align: right;">Contact Details: {{hotel.contact}}</h5><br>
            <h5 style="text-align: right;">Email Here: {{hotel.email}}</h5><br>
        </div>
    </form>
    </div>
    <div class="container pt-3">
        <div class="row">
         <div class="col-md-12">
          <button (click)= "showRooms()" id="showRooms" class="btn btn-info btn-block font-weight-bold rounded">
             <i class="fas fa-door-open"></i> &nbsp; Show Rooms</button>
          </div>
        </div>
          <!-- <div class="col-md-4">
            <a href="" class="btn btn-warning d-block font-weight-bold rounded">
             <i class="fas fa-plus"></i> &nbsp;ADD USER</a>
          </div>-->
        </div><br><br>
    
    <div class="container" id="hotelRooms">  
        <table style="text-align: center;" class="table table-striped table-bordered">
            <tr class="table thead-dark">
                <th>#</th>
                <th>Room ID</th>
                <th>Room No</th>
                <th>Price</th>
                <th>Room Type</th>
                <th></th>
            </tr>
                <tr *ngFor="let room of rooms | async ; let i = index" >
                    <td>{{i+1}}</td>
                    <td>{{room.id}}</td>
                    <td>{{room.roomNo}}</td>
                    <td>{{room.price}}</td>
                    <td>{{room.roomType}}</td>
                    <td><button class="btn btn-success" (click)= "bookRoom(room)">
                      <i class="fas fa-ticket-alt"></i> &nbsp;Book Room></button></td>
                </tr>
        </table>
    </div>
