<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#" class="navbar-brand text-warning">&nbsp;&nbsp;
      <i class="fa fa-globe" ></i>  LUXURY STAYS</a>
      <button class="navbar-toggler " data-toggle="collapse" data-target="#menu"> 
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav">
        <!--<li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-hotel"></i> HOTELS</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="fas fa-list-ul"></i> EMPLOYEES</a>
        </li>-->
        <li class="nav-item">
          <button class="btn btn-dark font-weight-bold rounded nav-link" (click)="homePage()">
          <i class="fas fa-home"></i> Home</button>
        </li>
        &nbsp;&nbsp;
        <li>
          <button class="btn btn-dark font-weight-bold rounded nav-link" (click)=history()>
               <i class="fas fa-history"></i> My History</button>
           </li>
      </ul>
     
      <ul class="navbar-nav ml-auto">
        
        <!-- <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Settings</button>&nbsp;&nbsp;&nbsp;
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem class="dropdown-item fa fa-user" (click)="updateProfile()">Update Profile</button>
            </div>
          </div>
        </li>-->
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">
            <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp; Logged in as {{this.parser.user.user.username}}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">
            <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <h2 style="background-color: purple;" class="text-white p-2 rounded"><i class="fas fa-bed"></i> &nbsp;Book A Room</h2>
    
<div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-8">
<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit()">
    <!--Check In
    <input type="date" placeholder="CheckIn" class="form-control" id="checkin" [(ngModel)]="booking.checkin" name="checkin" required>-->
    <hr>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Check In</label>
        <input type="date" class="form-control" name="checkin" [(ngModel)]="booking.checkin" #checkin="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && checkin.invalid }" required>
        <div *ngIf="userForm.submitted && checkin.invalid" class="invalid-feedback">
          <div *ngIf="checkin.errors.required">Empty Date field</div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Check Out</label>
        <input type="date" class="form-control" name="checkout" [(ngModel)]="booking.checkout" #checkout="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && checkout.invalid }" required>
        <div *ngIf="userForm.submitted && checkout.invalid" class="invalid-feedback">
          <div *ngIf="checkout.errors.required">Empty Date Field</div>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>Guest</label>
        <input type="number" class="form-control" name="numOfGuests" [(ngModel)]="booking.numOfGuests" #numOfGuests="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && numOfGuests.invalid }" pattern="[1-3]{1}"  required>
        <div *ngIf="userForm.submitted && numOfGuests.invalid" class="invalid-feedback">
          <div *ngIf="numOfGuests.errors.required">Required</div>
          <div *ngIf="numOfGuests.errors.pattern">Not more than 3 Guests!</div>
        </div>
      </div>
    </div>
    <!--Guests
    <input type="number" placeholder="Enter the number of guests" class="form-control" id="numOfGuests" [(ngModel)]="booking.numOfGuests" name="numOfGuests" required> <hr><br>-->

    <button type="button" class="btn btn-info" (click)="cal()">Total Amount</button>
    &nbsp;&nbsp;&nbsp;{{this.booking.finalPrice}}<br>
    <hr><br>
 
  <div class="row">
    <div class="col-md-4">
<button type="submit" class="btn btn-success btn-block">Book Room</button>
</div>
<div class="col-md-4">
<button type="submit" class="btn btn-danger btn-block" (click)="hotelPage()">Cancel Booking</button>
</div>
</div>
</form>
</div>
</div>